html, body {
    margin: 0 auto;
    padding: 0;
    border: 0;
    width: 100%;
    height: 100%;
    font-family: Helvetica, Arial, Sans-Serif;
    background-color: black;
}

canvas {
    width: 100%;
    height: 100%;
}

[contenteditable] {
    outline: 0px solid transparent;
}